footer {
    width: 100%;
}

.iconosredes {
    text-align: center;
}

.ajusteicono {
    display: inline-flex;
    margin: 50px 35px;
}

.textofooter {
    padding-top: 8px;
    width: 100%;
    font-family: Ink Free;
    text-align: center;
    color: #a9f1a9;
    font-size: 15px;
    background-color: black;
    height: 80px;
}